@import "tailwindcss";

:root {
  --background: #343434;
  --text: #f8f8f8;
  --highlights: #343434;
  --actions: #28582e;

  /* --font-hind */
  /* --font-montserrat */
}

* {
  box-sizing: border-box;
}

body {
  background: #343434;
  color: var(--text);
}
